* {
    margin: 0;
    padding: 0;
}

 .root {
    width: 100vw;
    height: 100vh;
}

.animals {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    text-align: center;
}

exf-animal {
    flex: 0 0 33.333%;
}